* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --side-margin: 164px;
  --sidebar-size: 200px;
  --sidebar-padding: 20px;
  --main-padding: var(--sidebar-padding);
  --book-width: 300px;
  --book-height: 400px;
  --main-gap: var(--main-padding);
  --book-border-radius: 20px;
  --book-padding: 20px;
  --button-height: 50px;
  --dialog-height: 300px;
  --dialog-width: 600px;
  --button-height: 48px;

  font-size: 24px;
}

/* ****************** */
/* * MAIN CONTAINER * */
/* ****************** */

.container {
  margin: 0 var(--side-margin);

  height: 100%;
  width: calc(100% - var(--side-margin) * 2);

  display: grid;
  grid-template: 100% / var(--sidebar-size) calc(100% - var(--sidebar-size));
}

nav.sidebar {
  grid-area: 1 / 1 / 2 / 2;

  padding: var(--sidebar-padding);

  background-color: rgb(59, 88, 171);
}

main {
  grid-area: 1 / 2 / 2 / 3;

  padding: var(--main-padding);

  height: 100vh;
  width: max(calc(var(--book-width) + var(--main-padding) * 2), 100%);

  background-color: white;

  overflow: auto;

  display: grid;
  grid-template: var(--book-height) / repeat(auto-fit, var(--book-width));
  grid-auto-rows: var(--book-height);

  justify-content: space-evenly;
  gap: var(--main-gap);
}



/* ********* */
/* * BOOKS * */
/* ********* */

article.book {
  padding: var(--book-padding);

  text-align: center;
  font-family: "Ancizar Serif", sans-serif;

  background: linear-gradient(to bottom right, white, gray);
  border: 1px solid black;
  border-radius: var(--book-border-radius);

  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
}

article.book h2.title {
  width: 100%;

  margin-bottom: 8px;

  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;

  line-height: 40px;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

article.book address.author,
article.book address.date {
  font-size: 1rem;
}

article.book address.author {
  margin-bottom: auto;

  width: fit-content;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

article.book p.pages-read {
  font-weight: bold;
}



/* *********** */
/* * SIDEBAR * */
/* *********** */

nav.sidebar > ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.sidebar li,
nav.sidebar button {
  width: 100%;
  height: var(--button-height);
}

nav.sidebar li {
  margin-bottom: 20px;
}

nav.sidebar button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}

/* ****************** */
/* * SELECTED CLASS * */
/* ****************** */

article.book.selected {
  border: 4px solid greenyellow;
}



/* ********** */
/* * MODALS * */
/* ********** */

.dialog {
  padding: 20px;

  height: var(--dialog-height);
  width: var(--dialog-width);

  border-radius: 12px;

  position: absolute;
  top: calc(50% - var(--dialog-height) / 2);
  left: calc(50% - var(--dialog-width) / 2);
}

.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.dialog form:first-child {
  flex: 1;

  margin-bottom: auto;

  font-family: "Ancizar Serif", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dis-flex {
  display: flex;
}

label.dis-flex,
.add-date.dis-flex,
.read-option.dis-flex {
  gap: 8px;
}

label.dis-flex input,
.add-date.dis-flex label,
.read-option.dis-flex label {
  flex: 1;
}

.add-date.dis-flex input,
.read-option.dis-flex input {
  height: 100%;
  width: 100%;
}

.buttons {
  height: var(--button-height);

  display: flex;
  justify-content: space-evenly;
}

.buttons form {
  height: 100%;
  width: min-content;
}

.buttons button {
  height: 100%;
  width: 148px;

  border-radius: calc(var(--button-height) / 2);
}

#add-image,
#edit-image {
  margin-top: 4px;
}
